{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  tabindex="-1"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Informacion de la Reserva</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-reserva"
              enctype="multipart/form-data"
              method="POST"
              action="{% url 'procesarActualizacionReserva' %}"
            >
              {% csrf_token %}
              <input type="text" hidden value="{{reserva.id_res}}" name="id_res" />
              <div class="col-md-12">
                <b>Cliente</b>
                <select class="form-control" name="id_cli" id="id_cli" required>
                  <option>Seleccione un cliente</option>
                  {% for cliente in cliente %}
                  <option value="{{cliente.id_cli}}">{{cliente.nombres_cli}}</option>
                  {% endfor %}
                </select>
              </div>
              <script type="text/javascript">
                document.getElementById("id_cli").value="{{reserva.cliente.id_cli}}";
              </script>
              <div class="col-md-12">
                <b>Mesa</b>
                <select class="form-control" name="id_mes" id="id_mes" required>
                  <option>Seleccione una mesa</option>
                  {% for mesa in mesa %}
                  <option value="{{mesa.id_mes}}">{{mesa.numero_mes}}</option>
                  {% endfor %}
                </select>
              </div>
              <script type="text/javascript">
                document.getElementById("id_mes").value="{{reserva.mesa.id_mes}}";
              </script>
              <div class="col-md-12">
                <label for="fecha_res" class="form-label">Fecha de reserva</label>
                <input
                  required
                  type="date"
                  class="form-control"
                  id="fecha_res"
                  name="fecha_res"
                  value="{{ reserva.fecha_res }}"
                />
              </div>
              <div class="col-md-12">
                <label for="numero_personas_res" class="form-label"
                  >Numero de personas</label
                >
                <input
                  required
                  type="number"
                  class="form-control"
                  id="numero_personas_res"
                  name="numero_personas_res"
                  placeholder="12"
                  value="{{ reserva.numero_personas_res }}"
                />
              </div>
              <div class="col-md-6">
                <label for="estado_res" class="form-label">Estado</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  id="estado_res"
                  name="estado_res"
                  placeholder="Disponible"
                  value="{{ reserva.estado_res }}"
                />
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Información
                </button>
                <a href="{% url 'reserva' %}" class="btn btn-warning"
                  >Cancelar</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
  });
  // Obtener la fecha actual en formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer la fecha máxima del input de fecha como la fecha actual
    document.getElementById('fecha_res').setAttribute('max', today);
</script>

{% endblock %}
