{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div class="pagetitle">
  <h1>Reservas</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'reserva' %}">Reservas</a>
      </li>
    </ol>
  </nav>
</div>

<div class="col-10 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if reserva %}

      <h5 class="card-title">Reservas</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Fecha de reserva</th>
            <th class="text-center">Numero de personas</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Cliente</th>
            <th class="text-center">Numero de Mesa</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, reserva in reserva %}
          <tr style="vertical-align: middle">
            <td>{{i}}</td>
            <td>{{reserva.fecha_res}}</td>
            <td>{{reserva.numero_personas_res}}</td>
            <td>{{reserva.estado_res}}</td>
            <td>{{reserva.cliente.nombres_cli}}</td>
            <td>{{reserva.mesa.numero_mes}}</td>
            <td>
              <a
                href="{% url 'actualizarReserva' reserva.id_res %}"
                class="accion-update"
                ><i class="bi bi-pencil text-success">Editar</i></a
              >
              <a
                href="javascript:void(0)"
                onclick="eliminarFila('/eliminarReserva/{{reserva.id_res}}', 'reserva')"
                class="accion-delete"
                ><i class="bi bi-trash-fill text-danger">Eliminar</i></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div
        class="col-6 mx-auto alert alert-danger text-danger mt-4 text-center"
      >
        No hay reservas registradas
      </div>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
        type="button"
        class="btn btn-principal"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Reserva
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Reserva</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-reserva"
                    enctype="multipart/form-data"
                    method="POST"
                    action="{% url 'crearReserva' %}"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <b>Cliente</b>
                      <select class="form-control" name="id_cli" id="id_cli" required>
                        <option>Seleccione un cliente</option>
                        {% for cliente in cliente %}
                        <option value="{{cliente.id_cli}}">{{cliente.nombres_cli}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-12">
                        <b>Mesa</b>
                        <select class="form-control" name="id_mes" id="id_mes" required>
                          <option>Seleccione una mesa</option>
                          {% for mesa in mesa %}
                          <option value="{{mesa.id_mes}}">{{mesa.numero_mes}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    <div class="col-md-12">
                      <label for="fecha_res" class="form-label">Fecha de reserva</label>
                      <input
                        required
                        type="date"
                        class="form-control"
                        id="fecha_res"
                        name="fecha_res"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="numero_personas_res" class="form-label"
                        >Numero de personas</label
                      >
                      <input
                        required
                        type="number"
                        class="form-control"
                        id="numero_personas_res"
                        name="numero_personas_res"
                        placeholder="12"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="estado_res" class="form-label">Estado</label>
                      <input
                        type="text"
                        required
                        class="form-control"
                        id="estado_res"
                        name="estado_res"
                        placeholder="Disponible"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Reserva
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Limpiar Campos
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Obtener la fecha actual en formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer la fecha máxima del input de fecha como la fecha actual
    document.getElementById('fecha_res').setAttribute('max', today);
  </script>

  {% endblock contenido %}
</div>
