{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  tabindex="-1"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Informacion Cliente</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-cliente"
              enctype="multipart/form-data"
              method="POST"
              action="{% url 'procesarActualizacionCliente' %}"
            >
              {% csrf_token %}
              <input type="text" hidden value="{{cliente.id_cli}}" name="id_cli" />
              <div class="col-md-12">
                <label for="nombres_cli" class="form-label">Nombres</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="nombres_cli"
                  name="nombres_cli"
                  placeholder="Mario Augusto"
                  value="{{ cliente.nombres_cli }}"
                />
              </div>
              <div class="col-md-12">
                <label for="apeliidos_cli" class="form-label"
                  >Apeliidos</label
                >
                <input
                  required
                  type="text"
                  class="form-control"
                  id="apeliidos_cli"
                  name="apeliidos_cli"
                  placeholder="Sanchez Miranda"
                  value="{{ cliente.apeliidos_cli }}"
                />
              </div>
              <div class="col-md-6">
                <label for="telefono_cli" class="form-label">Telefono</label>
                <input
                  type="number"
                  required
                  class="form-control"
                  id="telefono_cli"
                  name="telefono_cli"
                  placeholder="0997324567"
                  value="{{ cliente.telefono_cli }}"
                />
              </div>
              <div class="col-md-6">
                  <label for="direccion_cli" class="form-label">Direccion</label>
                  <input
                    type="text"
                    required
                    class="form-control"
                    id="direccion_cli"
                    name="direccion_cli"
                    placeholder="San Felipe Latacunga"
                    value="{{ cliente.direccion_cli }}"
                  />
                </div>
                <div class="col-md-6">
                <label for="correo_electronico_cli" class="form-label">Correo electronico</label>
                <input
                  type="email"
                  required
                  class="form-control"
                  id="correo_electronico_cli"
                  name="correo_electronico_cli"
                  placeholder="mariosanchez@gmail.com"
                  value="{{ cliente.correo_electronico_cli }}"
                />
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Información
                </button>
                <a href="{% url 'cliente' %}" class="btn btn-warning"
                  >Cancelar</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
    $("#foto").fileinput({
      lenguage: "es",
      maxFileSize: 5000,
      showUpload: false,
    });
  });
</script>

{% endblock %}
