{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div class="pagetitle">
  <h1>Clientes</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'cliente' %}">Clientes</a>
      </li>
    </ol>
  </nav>
</div>

<div class="col-10 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if cliente %}

      <h5 class="card-title">Clientes</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Nombres</th>
            <th class="text-center">Apellidos</th>
            <th class="text-center">Telefono</th>
            <th class="text-center">Direccion</th>
            <th class="text-center">Correo</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, cliente in cliente %}
          <tr style="vertical-align: middle">
            <td>{{i}}</td>
            <td>{{cliente.nombres_cli}}</td>
            <td>{{cliente.apeliidos_cli}}</td>
            <td>{{cliente.telefono_cli}}</td>
            <td>{{cliente.direccion_cli}}</td>
            <td>{{cliente.correo_electronico_cli}}</td>
            <td>
              <a
                href="{% url 'actualizarCliente' cliente.id_cli %}"
                class="accion-update"
                ><i class="bi bi-pencil text-success">Editar</i></a
              >
              <a
                href="javascript:void(0)"
                onclick="eliminarFila('/eliminarCliente/{{cliente.id_cli}}', 'cliente')"
                class="accion-delete"
                ><i class="bi bi-trash-fill text-danger">Eliminar</i></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div
        class="col-6 mx-auto alert alert-danger text-danger mt-4 text-center"
      >
        No hay clientes registrados
      </div>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
        type="button"
        class="btn btn-principal"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Cliente
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Cliente</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-cliente"
                    enctype="multipart/form-data"
                    method="POST"
                    action="{% url 'crearCliente' %}"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <label for="nombres_cli" class="form-label">Nombres</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="nombres_cli"
                        name="nombres_cli"
                        placeholder="Mario Augusto"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="apeliidos_cli" class="form-label"
                        >Apeliidos</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="apeliidos_cli"
                        name="apeliidos_cli"
                        placeholder="Sanchez Miranda"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="telefono_cli" class="form-label">Telefono</label>
                      <input
                        type="number"
                        required
                        class="form-control"
                        id="telefono_cli"
                        name="telefono_cli"
                        placeholder="0997324567"
                      />
                    </div>
                    <div class="col-md-6">
                        <label for="direccion_cli" class="form-label">Direccion</label>
                        <input
                          type="text"
                          required
                          class="form-control"
                          id="direccion_cli"
                          name="direccion_cli"
                          placeholder="San Felipe Latacunga"
                        />
                      </div>
                      <div class="col-md-6">
                      <label for="correo_electronico_cli" class="form-label">Correo electronico</label>
                      <input
                        type="email"
                        required
                        class="form-control"
                        id="correo_electronico_cli"
                        name="correo_electronico_cli"
                        placeholder="mariosanchez@gmail.com"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Cliente
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Limpiar Campos
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock contenido %}
</div>
