{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  tabindex="-1"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Informacion del pedido</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-pedido"
              enctype="multipart/form-data"
              method="POST"
              action="{% url 'procesarActualizacionPedido' %}"
            >
              {% csrf_token %}
              <input type="text" hidden value="{{pedido.id_ped}}" name="id_ped" />
              <div class="col-md-12">
                <b>Cliente</b>
                <select class="form-control" name="id_cli" id="id_cli" required>
                  <option>Seleccione un cliente</option>
                  {% for cliente in cliente %}
                  <option value="{{cliente.id_cli}}">{{cliente.nombres_cli}}</option>
                  {% endfor %}
                </select>
              </div>
              <script type="text/javascript">
                document.getElementById("id_cli").value="{{pedido.cliente.id_cli}}";
              </script>
              <div class="col-md-12">
                <b>Platillo</b>
                <select class="form-control" name="id_pla" id="id_pla" required>
                  <option>Seleccione un platillo</option>
                  {% for platillo in platillo %}
                  <option value="{{platillo.id_pla}}">{{platillo.nombre_pla}}</option>
                  {% endfor %}
                </select>
              </div>
              <script type="text/javascript">
                document.getElementById("id_pla").value="{{pedido.platillo.id_pla}}";
              </script>
              <div class="col-md-12">
                <label for="fecha_ped" class="form-label">Fecha de pedido</label>
                <input
                  required
                  type="date"
                  class="form-control"
                  id="fecha_ped"
                  name="fecha_ped"
                  value="{{ pedido.fecha_ped }}"
                />
              </div>
              <div class="col-md-12">
                <label for="estado_ped" class="form-label"
                  >Estado del pedido</label
                >
                <input
                  required
                  type="text"
                  class="form-control"
                  id="estado_ped"
                  name="estado_ped"
                  placeholder="Preparando"
                  value="{{ pedido.estado_ped }}"
                />
              </div>
              <div class="col-md-6">
                <label for="comentarios_ped" class="form-label">Comentarios</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  id="comentarios_ped"
                  name="comentarios_ped"
                  placeholder="El restaurante esta preparando el pedido"
                  value="{{ pedido.comentarios_ped }}"
                />
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Información
                </button>
                <a href="{% url 'pedido' %}" class="btn btn-warning"
                  >Cancelar</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
  });
  // Obtener la fecha actual en formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer la fecha máxima del input de fecha como la fecha actual
    document.getElementById('fecha_ped').setAttribute('max', today);
</script>

{% endblock %}
