{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div class="pagetitle">
  <h1>Pedidos</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'pedido' %}">Pedidos</a>
      </li>
    </ol>
  </nav>
</div>

<div class="col-10 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if pedido %}

      <h5 class="card-title">Pedidos</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Fecha de pedido</th>
            <th class="text-center">Estado del pedido</th>
            <th class="text-center">Comentarios</th>
            <th class="text-center">Cliente</th>
            <th class="text-center">Platillo</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, pedido in pedido %}
          <tr style="vertical-align: middle">
            <td>{{i}}</td>
            <td>{{pedido.fecha_ped}}</td>
            <td>{{pedido.estado_ped}}</td>
            <td>{{pedido.comentarios_ped}}</td>
            <td>{{pedido.cliente.nombres_cli}}</td>
            <td>{{pedido.platillo.nombre_pla}}</td>
            <td>
              <a
                href="{% url 'actualizarPedido' pedido.id_ped %}"
                class="accion-update"
                ><i class="bi bi-pencil text-success">Editar</i></a
              >
              <a
                href="javascript:void(0)"
                onclick="eliminarFila('/eliminarPedido/{{pedido.id_ped}}', 'pedido')"
                class="accion-delete"
                ><i class="bi bi-trash-fill text-danger">Eliminar</i></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div
        class="col-6 mx-auto alert alert-danger text-danger mt-4 text-center"
      >
        No hay pedidos registrados
      </div>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
        type="button"
        class="btn btn-principal"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Pedido
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Pedido</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-pedido"
                    enctype="multipart/form-data"
                    method="POST"
                    action="{% url 'crearPedido' %}"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <b>Cliente</b>
                      <select class="form-control" name="id_cli" id="id_cli" required>
                        <option>Seleccione un cliente</option>
                        {% for cliente in cliente %}
                        <option value="{{cliente.id_cli}}">{{cliente.nombres_cli}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-12">
                        <b>Platillo</b>
                        <select class="form-control" name="id_pla" id="id_pla" required>
                          <option>Seleccione un platillo</option>
                          {% for platillo in platillo %}
                          <option value="{{platillo.id_pla}}">{{platillo.nombre_pla}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    <div class="col-md-12">
                      <label for="fecha_ped" class="form-label">Fecha de pedido</label>
                      <input
                        required
                        type="date"
                        class="form-control"
                        id="fecha_ped"
                        name="fecha_ped"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="estado_ped" class="form-label"
                        >Estado del pedido</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="estado_ped"
                        name="estado_ped"
                        placeholder="Preparando"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="comentarios_ped" class="form-label">Comentarios</label>
                      <input
                        type="text"
                        required
                        class="form-control"
                        id="comentarios_ped"
                        name="comentarios_ped"
                        placeholder="El restaurante esta preparando el pedido"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Pedido
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Limpiar Campos
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Obtener la fecha actual en formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer la fecha máxima del input de fecha como la fecha actual
    document.getElementById('fecha_ped').setAttribute('max', today);
  </script>

  {% endblock contenido %}
</div>
