{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade modal-lg"
  id="verticalycentered2"
  tabindex="-1"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Informacion Tipo de Platillo</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-tipo"
              enctype="multipart/form-data"
              method="POST"
              action="{% url 'procesarActualizacionTipoPlatillo' %}"
            >
              {% csrf_token %}
              <input type="text" hidden value="{{tiposplatillos.id_tipla}}" name="id_tipla" />
              <div class="col-md-12">
                <label for="nombre_tipla" class="form-label">Nombre</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="nombre_tipla"
                  name="nombre_tipla"
                  placeholder="Ensalada"
                  value="{{ tiposplatillos.nombre_tipla }}"
                />
              </div>
              <div class="col-md-12">
                <label for="descripcion_tipla" class="form-label">Descripcion</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="descripcion_tipla"
                  name="descripcion_tipla"
                  placeholder="Comida saludable con verduras para personas que cuidan su salud"
                  value="{{ tiposplatillos.descripcion_tipla }}"
                />
              </div>
              <div class="col-md-6">
                <label for="color_tipla" class="form-label">Color</label>
                <input
                  type="color"
                  required
                  class="form-control"
                  id="color_tipla"
                  name="color_tipla"
                  value="{{ tiposplatillos.color_tipla }}"
                />
              </div>
              <div class="col-md-12">
                <label for="imagen_tipla" class="form-label">Imagen Actual</label>
                <br />
                {% if tiposplatillos.imagen_tipla %}
                <a href="{{tiposplatillos.imagen_tipla.url}}" target="_blank">
                  <img
                    src="{{tiposplatillos.imagen_tipla.url}}"
                    alt="{{tiposplatillos.nombre_tipla}}"
                    width="200"
                  />
                </a>
                {% endif %}
                <br />
                <label for="imagen_tipla" class="form-label mt-4"
                  >Cambiar imagen</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="imagen_tipla"
                  name="imagen_tipla"
                  accept="image/*"
                />
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Información
                </button>
                <a href="{% url 'tiposplatillos' %}" class="btn btn-warning"
                  >Cancelar</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
    $("#imagen_tipla").fileinput({
      lenguage: "es",
      maxFileSize: 5000,
      showUpload: false,
    });
  });
</script>

{% endblock %}
