{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div class="pagetitle">
  <h1>Tipos de Platillos</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'tiposplatillos' %}">Tipos de Platillos</a>
      </li>
    </ol>
  </nav>
</div>

<div class="col-10 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if tiposplatillos %}

      <h5 class="card-title">Tipos de Platillos</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Imagen</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Descripcion</th>
            <th class="text-center">Color</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, tipo in tiposplatillos %}
          <tr style="vertical-align: middle">
            <td>{{i}}</td>
            <td>
              {% if tipo.imagen_tipla %}
              <a href="{{ tipo.imagen_tipla.url }}" target="_blank">
                <img
                  src="{{ tipo.imagen_tipla.url }}"
                  width="80"
                  alt="{{ tipo.nombre_tipla }}"
                />
              </a>
              {% else %}
              <p>N/A</p>
              {% endif %}
            </td>
            <td>{{tipo.nombre_tipla}}</td>
            <td>{{tipo.descripcion_tipla}}</td>
            <td>
              <div
                data-color="{{tipo.color_tipla}}"
                class="mx-auto"
                style="width: 30px; height: 30px"
                id="color_tipla"
              ></div>
            </td>
            <td>
              <a
                href="{% url 'actualizarTipoPlatillo' tipo.id_tipla %}"
                class="accion-update"
                ><i class="bi bi-pencil text-success">Editar</i></a
              >
              <a
                href="javascript:void(0)"
                onclick="eliminarFila('/eliminarTipoPlatillo/{{tipo.id_tipla}}', 'tipo de platillo')"
                class="accion-delete"
                ><i class="bi bi-trash-fill text-danger">Eliminar</i></a
              >
              <a href="" data-bs-toggle="modal"
        data-bs-target="#verticalycentered2"
        type="button" class="accion-view"><i class="bi bi-eye text-purple">Ver</i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div
        class="col-6 mx-auto alert alert-danger text-danger mt-4 text-center"
      >
        No hay tipos de platillos registrados
      </div>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
        type="button"
        class="btn btn-principal"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Tipo Platillo
      </button>
      <div class="modal fade modal-lg" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Tipo de Platillo</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-tipo"
                    enctype="multipart/form-data"
                    method="POST"
                    action="{% url 'crearTipoPlatillo' %}"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <label for="nombre_tipla" class="form-label">Nombre</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="nombre_tipla"
                        name="nombre_tipla"
                        placeholder="Ensalada"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="descripcion_tipla" class="form-label"
                        >Descripcion</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="descripcion_tipla"
                        name="descripcion_tipla"
                        placeholder="Comida saludable con verduras para personas que cuidan su salud"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="color_tipla" class="form-label">Color</label>
                      <input
                        type="color"
                        required
                        class="form-control"
                        id="color_tipla"
                        name="color_tipla"
                        value="#012970"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="imagen_tipla" class="form-label">Imagen</label>
                      <input
                        type="file"
                        required
                        class="form-control"
                        id="imagen_tipla"
                        name="imagen_tipla"
                        accept="image/*"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Tipo
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Limpiar Campos
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <div class="modal fade modal-lg" id="verticalycentered2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Ver Platillo</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
          </div>
        </div>
      </div>

  <script>
    const divColors = document.querySelectorAll("#color_tipla");
    divColors.forEach((div) => {
      div.style.backgroundColor = div.dataset.color;
    });
    $(document).ready(function () {
      $("#imagen_tipla").fileinput({
        lenguage: "es",
        maxFileSize: 5000,
        showUpload: false,
      });
    });
  </script>

  {% endblock contenido %}
</div>
