{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  tabindex="-1"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Informacion del Platillo</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-platillo"
              enctype="multipart/form-data"
              method="POST"
              action="{% url 'procesarActualizacionPlatillo' %}"
            >
              {% csrf_token %}
              <input type="text" hidden value="{{platillo.id_pla}}" name="id_pla" />
              <div class="col-md-12">
                <b>Tipo de Platillo</b>
                <select class="form-control" name="id_tipla" id="id_tipla" required>
                  <option>Seleccione un tipo de platillo</option>
                  {% for tiposplatillos in tiposplatillos %}
                  <option value="{{tiposplatillos.id_tipla}}">{{tiposplatillos.nombre_tipla}}</option>
                  {% endfor %}
                </select>
              </div>
              <script type="text/javascript">
                document.getElementById("id_tipla").value="{{platillo.tiposplatillos.id_tipla}}";
              </script>
              <div class="col-md-12">
                <label for="nombre_pla" class="form-label">Nombre</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="nombre_pla"
                  name="nombre_pla"
                  placeholder="Jose Luis"
                  value="{{ platillo.nombre_pla }}"
                />
              </div>
              <div class="col-md-12">
                <label for="descripcion_pla" class="form-label"
                  >Descripcion</label
                >
                <input
                  required
                  type="text"
                  class="form-control"
                  id="descripcion_pla"
                  name="descripcion_pla"
                  value="{{ platillo.descripcion_pla }}"
                />
              </div>
              <div class="col-md-6">
                <label for="precio_pla" class="form-label">Precio</label>
                <input
                  type="number"
                  required
                  class="form-control"
                  id="precio_pla"
                  name="precio_pla"
                  value="{{ platillo.precio_pla }}"
                />
              </div>
              <div class="col-md-12">
                <label for="imagen_pla" class="form-label">Foto Actual</label>
                <br />
                {% if platillo.imagen_pla %}
                <a href="{{platillo.imagen_pla.url}}" target="_blank">
                  <img
                    src="{{platillo.imagen_pla.url}}"
                    alt="{{platillo.imagen_pla}}"
                    width="200"
                  />
                </a>
                {% endif %}
                <br />
                <label for="imagen_pla" class="form-label mt-4"
                  >Cambiar Imagen</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="imagen_pla"
                  name="imagen_pla"
                  accept="image/*"
                />
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Información
                </button>
                <a href="{% url 'empleado' %}" class="btn btn-warning"
                  >Cancelar</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
    $("#imagen_pla").fileinput({
      lenguage: "es",
      maxFileSize: 5000,
      showUpload: false,
    });
  });
  // Obtener la fecha actual en formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer la fecha máxima del input de fecha como la fecha actual
    document.getElementById('fecha_ingreso_emp').setAttribute('max', today);
</script>

{% endblock %}
