{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div class="pagetitle">
  <h1>Platillos</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'platillo' %}">Platillos</a>
      </li>
    </ol>
  </nav>
</div>

<div class="col-10 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if platillo %}

      <h5 class="card-title">Platillos</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Imagen</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Tipo de platillo</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, platillo in platillo %}
          <tr style="vertical-align: middle">
            <td>{{i}}</td>
            <td>
              {% if platillo.imagen_pla %}
              <a href="{{ platillo.imagen_pla.url }}" target="_blank">
                <img
                  src="{{ platillo.imagen_pla.url }}"
                  width="80"
                  alt="{{ platillo.imagen_pla }}"
                />
              </a>
              {% else %}
              <p>N/A</p>
              {% endif %}
            </td>
            <td>{{platillo.nombre_pla}}</td>
            <td>{{platillo.descripcion_pla}}</td>
            <td>{{platillo.precio_pla}}</td>
            <td>{{platillo.tiposplatillos.nombre_tipla}}</td>
            <td>
              <a
                href="{% url 'actualizarPlatillo' platillo.id_pla %}"
                class="accion-update"
                ><i class="bi bi-pencil text-success">Editar</i></a
              >
              <a
                href="javascript:void(0)"
                onclick="eliminarFila('/eliminarPlatillo/{{platillo.id_pla}}', 'platillo')"
                class="accion-delete"
                ><i class="bi bi-trash-fill text-danger">Eliminar</i></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div
        class="col-6 mx-auto alert alert-danger text-danger mt-4 text-center"
      >
        No hay platillos registrados
      </div>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
        type="button"
        class="btn btn-principal"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Platillo
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Platillo</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-platillo"
                    enctype="multipart/form-data"
                    method="POST"
                    action="{% url 'crearPlatillo' %}"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <b>Tipo de Platillo</b>
                      <select class="form-control" name="id_tipla" id="id_tipla" required>
                        <option>Seleccione un tipo de platillo</option>
                        {% for tiposplatillos in tiposplatillos %}
                        <option value="{{tiposplatillos.id_tipla}}">{{tiposplatillos.nombre_tipla}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-12">
                      <label for="nombre_pla" class="form-label">Nombre</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="nombre_pla"
                        name="nombre_pla"
                        placeholder="Bistec de Pescado"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="descripcion_pla" class="form-label"
                        >Descripcion</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="descripcion_pla"
                        name="descripcion_pla"
                        placeholder="Delicioso plato de pescado con menestra"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="precio_pla" class="form-label">Precio</label>
                      <input
                        type="number"
                        required
                        class="form-control"
                        id="precio_pla"
                        name="precio_pla"
                        placeholder="10"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="imagen_pla" class="form-label">Imagen</label>
                      <input
                        type="file"
                        required
                        class="form-control"
                        id="imagen_pla"
                        name="imagen_pla"
                        accept="image/*"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Platillo
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Limpiar Campos
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#imagen_pla").fileinput({
        lenguage: "es",
        maxFileSize: 5000,
        showUpload: false,
      });
    });
    // Obtener la fecha actual en formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer la fecha máxima del input de fecha como la fecha actual
    document.getElementById('fecha_ingreso_emp').setAttribute('max', today);
  </script>

  {% endblock contenido %}
</div>
