{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  tabindex="-1"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Informacion de la factura</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-factura"
              enctype="multipart/form-data"
              method="POST"
              action="{% url 'procesarActualizacionFactura' %}"
            >
              {% csrf_token %}
              <input type="text" hidden value="{{factura.id_fac}}" name="id_fac" />
              <div class="col-md-12">
                <b>Pedido</b>
                <select class="form-control" name="id_ped" id="id_ped" required>
                  <option>Seleccione un pedido</option>
                  {% for pedido in pedido %}
                  <option value="{{pedido.id_ped}}">{{pedido.fecha_ped}}</option>
                  {% endfor %}
                </select>
              </div>
              <script type="text/javascript">
                document.getElementById("id_ped").value="{{factura.pedido.id_ped}}";
              </script>
              <div class="col-md-12">
                <label for="fecha_fac" class="form-label">Fecha de factura</label>
                <input
                  required
                  type="date"
                  class="form-control"
                  id="fecha_fac"
                  name="fecha_fac"
                  value="{{ factura.fecha_fac }}"
                />
              </div>
              <div class="col-md-6">
                <label for="metodo_pago_fac" class="form-label">Metodo de Pago</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  id="metodo_pago_fac"
                  name="metodo_pago_fac"
                  placeholder="Paypal"
                  value="{{ factura.metodo_pago_fac }}"
                />
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Información
                </button>
                <a href="{% url 'factura' %}" class="btn btn-warning"
                  >Cancelar</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
  });
  // Obtener la fecha actual en formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer la fecha máxima del input de fecha como la fecha actual
    document.getElementById('fecha_res').setAttribute('max', today);
</script>

{% endblock %}
