{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div class="pagetitle">
  <h1>Facturas</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'factura' %}">Facturas</a>
      </li>
    </ol>
  </nav>
</div>

<div class="col-10 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if factura %}

      <h5 class="card-title">Facturas</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Fecha de factura</th>
            <th class="text-center">Metodo de pago</th>
            <th class="text-center">Pedido</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, factura in factura %}
          <tr style="vertical-align: middle">
            <td>{{i}}</td>
            <td>{{factura.fecha_fac}}</td>
            <td>{{factura.metodo_pago_fac}}</td>
            <td>{{factura.pedido.fecha_ped}}</td>
            <td>
              <a
                href="{% url 'actualizarFactura' factura.id_fac %}"
                class="accion-update"
                ><i class="bi bi-pencil text-success">Editar</i></a
              >
              <a
                href="javascript:void(0)"
                onclick="eliminarFila('/eliminarFactura/{{factura.id_fac}}', 'factura')"
                class="accion-delete"
                ><i class="bi bi-trash-fill text-danger">Eliminar</i></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div
        class="col-6 mx-auto alert alert-danger text-danger mt-4 text-center"
      >
        No hay facturas registradas
      </div>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
        type="button"
        class="btn btn-principal"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Factura
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Factura</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-factura"
                    enctype="multipart/form-data"
                    method="POST"
                    action="{% url 'crearFactura' %}"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <b>Pedido</b>
                      <select class="form-control" name="id_ped" id="id_ped" required>
                        <option>Seleccione un pedido</option>
                        {% for pedido in pedido %}
                        <option value="{{pedido.id_ped}}">{{pedido.fecha_ped}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-md-12">
                      <label for="fecha_fac" class="form-label">Fecha de factura</label>
                      <input
                        required
                        type="date"
                        class="form-control"
                        id="fecha_fac"
                        name="fecha_fac"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="metodo_pago_fac" class="form-label">Metodo de Pago</label>
                      <input
                        type="text"
                        required
                        class="form-control"
                        id="metodo_pago_fac"
                        name="metodo_pago_fac"
                        placeholder="Paypal"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Factura
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Limpiar Campos
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    // Obtener la fecha actual en formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer la fecha máxima del input de fecha como la fecha actual
    document.getElementById('fecha_fac').setAttribute('max', today);
  </script>

  {% endblock contenido %}
</div>
