{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  tabindex="-1"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Informacion Empleado</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-empleado"
              enctype="multipart/form-data"
              method="POST"
              action="{% url 'procesarActualizacionEmpleado' %}"
            >
              {% csrf_token %}
              <input type="text" hidden value="{{empleado.id_emp}}" name="id_emp" />
              <div class="col-md-12">
                <label for="nombres_emp" class="form-label">Nombres</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="nombres_emp"
                  name="nombres_emp"
                  placeholder="Jose Luis"
                  value="{{ empleado.nombres_emp }}"
                />
              </div>
              <div class="col-md-12">
                <label for="apeliidos_emp" class="form-label"
                  >Apeliidos</label
                >
                <input
                  required
                  type="text"
                  class="form-control"
                  id="apeliidos_emp"
                  name="apeliidos_emp"
                  placeholder="Guano Perez"
                  value="{{ empleado.apeliidos_emp }}"
                />
              </div>
              <div class="col-md-6">
                <label for="cargo_emp" class="form-label">Cargo</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  id="cargo_emp"
                  name="cargo_emp"
                  placeholder="Chef"
                  value="{{ empleado.cargo_emp }}"
                />
              </div>
              <div class="col-md-6">
                  <label for="telefono_emp" class="form-label">Telefono</label>
                  <input
                    type="number"
                    required
                    class="form-control"
                    id="telefono_emp"
                    name="telefono_emp"
                    placeholder="0997324295"
                    value="{{ empleado.telefono_emp }}"
                  />
                </div>
                <div class="col-md-6">
                <label for="correo_electronico_emp" class="form-label">Correo electronico</label>
                <input
                  type="email"
                  required
                  class="form-control"
                  id="correo_electronico_emp"
                  name="correo_electronico_emp"
                  placeholder="joseluis@gmail.com"
                  value="{{ empleado.correo_electronico_emp }}"
                />
              </div>
              <div class="col-md-6">
                  <label for="fecha_ingreso_emp" class="form-label">Fecha de ingreso</label>
                  <input
                    type="date"
                    required
                    class="form-control"
                    id="fecha_ingreso_emp"
                    name="fecha_ingreso_emp"
                    placeholder="27/02/2024"
                    value="{{ empleado.fecha_ingreso_emp }}"
                  />
              </div>
              <div class="col-md-6">
                  <label for="salario_emp" class="form-label">Salario</label>
                  <input
                    type="number"
                    required
                    class="form-control"
                    id="salario_emp"
                    name="salario_emp"
                    placeholder="1200"
                    value="{{ empleado.salario_emp }}"
                  />
              </div>
              <div class="col-md-12">
                <label for="foto_emp" class="form-label">Foto Actual</label>
                <br />
                {% if empleado.foto_emp %}
                <a href="{{emplead.foto_emp.url}}" target="_blank">
                  <img
                    src="{{empleado.foto_emp.url}}"
                    alt="{{empleado.nombres_emp}}"
                    width="200"
                  />
                </a>
                {% endif %}
                <br />
                <label for="foto_emp" class="form-label mt-4"
                  >Cambiar foto</label
                >
                <input
                  type="file"
                  class="form-control"
                  id="foto_emp"
                  name="foto_emp"
                  accept="image/*"
                />
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Información
                </button>
                <a href="{% url 'empleado' %}" class="btn btn-warning"
                  >Cancelar</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
    $("#foto_emp").fileinput({
      lenguage: "es",
      maxFileSize: 5000,
      showUpload: false,
    });
  });
  // Obtener la fecha actual en formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer la fecha máxima del input de fecha como la fecha actual
    document.getElementById('fecha_ingreso_emp').setAttribute('max', today);
</script>

{% endblock %}
