{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div class="pagetitle">
  <h1>Empleados</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'empleado' %}">Empleados</a>
      </li>
    </ol>
  </nav>
</div>

<div class="col-10 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if empleado %}

      <h5 class="card-title">Empleados</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Foto</th>
            <th class="text-center">Nombres</th>
            <th class="text-center">Apellidos</th>
            <th class="text-center">Cargo</th>
            <th class="text-center">Telefono</th>
            <th class="text-center">Correo</th>
            <th class="text-center">Fecha de ingreso</th>
            <th class="text-center">Salario</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, empleado in empleado %}
          <tr style="vertical-align: middle">
            <td>{{i}}</td>
            <td>
              {% if empleado.foto_emp %}
              <a href="{{ empleado.foto_emp.url }}" target="_blank">
                <img
                  src="{{ empleado.foto_emp.url }}"
                  width="80"
                  alt="{{ empleado.foto_emp }}"
                />
              </a>
              {% else %}
              <p>N/A</p>
              {% endif %}
            </td>
            <td>{{empleado.nombres_emp}}</td>
            <td>{{empleado.apeliidos_emp}}</td>
            <td>{{empleado.cargo_emp}}</td>
            <td>{{empleado.telefono_emp}}</td>
            <td>{{empleado.correo_electronico_emp}}</td>
            <td>{{empleado.fecha_ingreso_emp}}</td>
            <td>{{empleado.salario_emp}}</td>
            <td>
              <a
                href="{% url 'actualizarEmpleado' empleado.id_emp %}"
                class="accion-update"
                ><i class="bi bi-pencil text-success">Editar</i></a
              >
              <a
                href="javascript:void(0)"
                onclick="eliminarFila('/eliminarEmpleado/{{empleado.id_emp}}', 'empleado')"
                class="accion-delete"
                ><i class="bi bi-trash-fill text-danger">Eliminar</i></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div
        class="col-6 mx-auto alert alert-danger text-danger mt-4 text-center"
      >
        No hay empleados registrados
      </div>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
        type="button"
        class="btn btn-principal"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Empleado
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Empleado</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-empleado"
                    enctype="multipart/form-data"
                    method="POST"
                    action="{% url 'crearEmpleado' %}"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <label for="nombres_emp" class="form-label">Nombres</label>
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="nombres_emp"
                        name="nombres_emp"
                        placeholder="Jose Luis"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="apeliidos_emp" class="form-label"
                        >Apeliidos</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="apeliidos_emp"
                        name="apeliidos_emp"
                        placeholder="Guano Perez"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="cargo_emp" class="form-label">Cargo</label>
                      <input
                        type="text"
                        required
                        class="form-control"
                        id="cargo_emp"
                        name="cargo_emp"
                        placeholder="Chef"
                      />
                    </div>
                    <div class="col-md-6">
                        <label for="telefono_emp" class="form-label">Telefono</label>
                        <input
                          type="number"
                          required
                          class="form-control"
                          id="telefono_emp"
                          name="telefono_emp"
                          placeholder="0997324295"
                        />
                      </div>
                      <div class="col-md-6">
                      <label for="correo_electronico_emp" class="form-label">Correo electronico</label>
                      <input
                        type="email"
                        required
                        class="form-control"
                        id="correo_electronico_emp"
                        name="correo_electronico_emp"
                        placeholder="joseluis@gmail.com"
                      />
                    </div>
                    <div class="col-md-6">
                        <label for="fecha_ingreso_emp" class="form-label">Fecha de ingreso</label>
                        <input
                          type="date"
                          required
                          class="form-control"
                          id="fecha_ingreso_emp"
                          name="fecha_ingreso_emp"
                          placeholder="27/02/2024"
                        />
                    </div>
                    <div class="col-md-6">
                        <label for="salario_emp" class="form-label">Salario</label>
                        <input
                          type="number"
                          required
                          class="form-control"
                          id="salario_emp"
                          name="salario_emp"
                          placeholder="1200"
                        />
                    </div>
                    <div class="col-md-12">
                      <label for="foto_emp" class="form-label">Foto</label>
                      <input
                        type="file"
                        required
                        class="form-control"
                        id="foto_emp"
                        name="foto_emp"
                        accept="image/*"
                      />
                    </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Empleado
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Limpiar Campos
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function () {
      $("#foto_emp").fileinput({
        lenguage: "es",
        maxFileSize: 5000,
        showUpload: false,
      });
    });
    // Obtener la fecha actual en formato YYYY-MM-DD
    const today = new Date().toISOString().split('T')[0];
    // Establecer la fecha máxima del input de fecha como la fecha actual
    document.getElementById('fecha_ingreso_emp').setAttribute('max', today);
  </script>

  {% endblock contenido %}
</div>
