{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div
  class="modal fade"
  id="verticalycentered2"
  tabindex="-1"
  data-bs-backdrop="static"
  shown.bs.modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="card-title">Editar Informacion de la Mesa</h5>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <form
              class="row g-3"
              id="form-add-mesa"
              enctype="multipart/form-data"
              method="POST"
              action="{% url 'procesarActualizacionMesa' %}"
            >
              {% csrf_token %}
              <input type="text" hidden value="{{mesa.id_mes}}" name="id_mes" />
              <div class="col-md-12">
                <label for="capacidad_mes" class="form-label">Capacidad</label>
                <input
                  required
                  type="number"
                  class="form-control"
                  id="capacidad_mes"
                  name="capacidad_mes"
                  placeholder="8"
                  value="{{ mesa.capacidad_mes }}"
                />
              </div>
              <div class="col-md-12">
                <label for="estado_mes" class="form-label">Estado</label>
                <input
                  required
                  type="text"
                  class="form-control"
                  id="estado_mes"
                  name="estado_mes"
                  placeholder="Disponible"
                  value="{{ mesa.estado_mes }}"
                />
              </div>
              <div class="col-md-8">
                <label for="numero_mes" class="form-label">Numero de mesa</label>
                <input
                  type="number"
                  required
                  class="form-control"
                  id="numero_mes"
                  name="numero_mes"
                  placeholder="10"
                  value="{{ mesa.numero_mes }}"
                />
              </div>
              <div class="col-md-12">
                <label for="descripcion_mes" class="form-label">Descripcion</label>
                <input
                  type="text"
                  required
                  class="form-control"
                  id="descripcion_mes"
                  name="descripcion_mes"
                  placeholder="La mesa se encuentra reservada a nombre del Señor Angel Espinosa"
                  value="{{ mesa.descripcion_mes }}"
                />
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-principal">
                  Actualizar Información
                </button>
                <a href="{% url 'mesa' %}" class="btn btn-warning">Cancelar</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $("#verticalycentered2").modal("show");
  });
</script>

{% endblock %}
