{% extends '../plantilla.html' %} {% load static %} {% block contenido %}

<div class="pagetitle">
  <h1>Mesas</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Inicio</a></li>
      <li class="breadcrumb-item">
        <a href="{% url 'mesa' %}">Mesas</a>
      </li>
    </ol>
  </nav>
</div>

<div class="col-10 mx-auto">
  <div class="card recent-sales overflow-auto">
    <div class="card-body">
      {% if mesa %}

      <h5 class="card-title">Mesas</h5>

      <table
        class="table table-borderless datatable text-center table-hover"
        id="tabla"
      >
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Capacidad</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Numero de mesa</th>
            <th class="text-center">Descripcion</th>
            <th class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for i, mesa in mesa %}
          <tr style="vertical-align: middle">
            <td>{{i}}</td>
            <td>{{mesa.capacidad_mes}}</td>
            <td>{{mesa.estado_mes}}</td>
            <td>{{mesa.numero_mes}}</td>
            <td>{{mesa.descripcion_mes}}</td>
            <td>
                <a href="{% url 'actualizarMesa' mesa.id_mes %}" class="accion-update">
                    <i class="bi bi-pencil text-success">Editar</i>
                </a>
                  
              <a
                href="javascript:void(0)"
                onclick="eliminarFila('/eliminarMesa/{{mesa.id_mes}}', 'mesa')"
                class="accion-delete"
                ><i class="bi bi-trash-fill text-danger">Eliminar</i></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div
        class="col-6 mx-auto alert alert-danger text-danger mt-4 text-center"
      >
        No hay mesas registradas
      </div>
      {% endif %}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <button
        data-bs-toggle="modal"
        data-bs-target="#verticalycentered"
        type="button"
        class="btn btn-principal"
      >
        <i class="bi bi-plus-circle-fill"></i> Agregar Mesa
      </button>
      <div class="modal fade" id="verticalycentered" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="card-title">Registrar Mesa</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="card">
                <div class="card-body">
                  <form
                    class="row g-3"
                    id="form-add-mesa"
                    enctype="multipart/form-data"
                    method="POST"
                    action="{% url 'crearMesa' %}"
                  >
                    {% csrf_token %}
                    <div class="col-md-12">
                      <label for="capacidad_mes" class="form-label">Capacidad</label>
                      <input
                        required
                        type="number"
                        class="form-control"
                        id="capacidad_mes"
                        name="capacidad_mes"
                        placeholder="8"
                      />
                    </div>
                    <div class="col-md-12">
                      <label for="estado_mes" class="form-label"
                        >Estado</label
                      >
                      <input
                        required
                        type="text"
                        class="form-control"
                        id="estado_mes"
                        name="estado_mes"
                        placeholder="Disponible"
                      />
                    </div>
                    <div class="col-md-8">
                      <label for="numero_mes" class="form-label">Numero de mesa</label>
                      <input
                        type="number"
                        required
                        class="form-control"
                        id="numero_mes"
                        name="numero_mes"
                        placeholder="10"
                      />
                    </div>
                    <div class="col-md-12">
                        <label for="descripcion_mes" class="form-label">Descripcion</label>
                        <input
                          type="text"
                          required
                          class="form-control"
                          id="descripcion_mes"
                          name="descripcion_mes"
                          placeholder="La mesa se encuentra reservada a nombre del Señor Angel Espinosa"
                        />
                      </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-principal">
                        Registrar Mesa
                      </button>
                      <button type="reset" class="btn btn-warning">
                        Limpiar Campos
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% endblock contenido %}
</div>
